<!DOCTYPE html>
<html>

<head>
    <title>Request Network Donation - Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/thank-you.min.css">

    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Source+Sans+Pro:400,600,700" rel="stylesheet">

    <% 
        var etherscan_base = "https://etherscan.io/tx/";
        var infura_base = "https://mainnet.infura.io";
        if (network && network == 4) {
            etherscan_base = "https://rinkeby.etherscan.io/tx/";
            infura_base = "https://rinkeby.infura.io";
        }
    %>

</head>

<body>
    <header class="navbar">
        <div class="container">
            <a href="https://request.network">
                <img class="logo" src="img/logo-horizontal.png" />
            </a>
        </div>

    </header>
    <div class="navbar-divider-bg mb-3"></div>
    <div class="container mb-5">

        <h1 class="text-center pt-5">Thank You For Your Donation!</h1>
        <p class="text-center pt-3 mb-4 col-lg-8 offset-lg-2">Your support goes a long way towards making a difference. By making a contribution you are not only changing lives; you are transforming futures.</p>

            <% if (redirect) { %>
                <div class="text-center">
                    <a id="return-to-site" class="btn btn-primary mb-4" href="<%= redirect %>">Return to site</a>
                </div>
            <% } %>


        <div class="row pt-5">
            <div class="col-12 col-md-7">
                <h3 class="mb-3">Transaction Details</h3>
                <p class="mb-1">You have donated:
                    <strong>$
                        <%= fiat %>
                    </strong>
                </p>
                <p class="mb-1">Total paid in
                    <%= currency %>:
                        <strong>
                            <%= owed %>
                        </strong>
                </p>
                <p class="txid-row">
                    <span>TXID:</span>
                    <a href="<%= etherscan_base %><%= txid %>">
                        <%= txid %>
                    </a>
                </p>

                <div class="more-info-block">
                    <p>Your transaction has been successfully processed. You can view the status of the transaction by using the TXID link above.</p>

                    <p class="mb-0">
                        <i id="txid-status" class="circle pending"></i>
                        <span class="pending-text">Transaction pending</span>
                        <span class="confirmed-text">Transaction confirmed</span>
                    </p>
                </div>

            </div>
            <div class="col-12 col-md-4 offset-md-1">
                <h3 class="mb-3">Share your donation</h3>
                <p>Help multiply the impact of your donation by sharing to your network using the links below:</p>
                <a id="twitter-share" class="btn btn-primary share-btn mt-3 <% if (!redirect) { %> disabled <% } %>">
                    <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
                        <path d="
                      M 630, 425
                      A 195, 195 0 0 1 331, 600
                      A 142, 142 0 0 0 428, 570
                      A  70,  70 0 0 1 370, 523
                      A  70,  70 0 0 0 401, 521
                      A  70,  70 0 0 1 344, 455
                      A  70,  70 0 0 0 372, 460
                      A  70,  70 0 0 1 354, 370
                      A 195, 195 0 0 0 495, 442
                      A  67,  67 0 0 1 611, 380
                      A 117, 117 0 0 0 654, 363
                      A  65,  65 0 0 1 623, 401
                      A 117, 117 0 0 0 662, 390
                      A  65,  65 0 0 1 630, 425
                      Z" style="fill:#fff;" />
                    </svg>Share on Twitter</a>

                <div class="or-divider mt-4 mb-4">
                    <span>or</span>
                </div>
                <a id="facebook-share" class="btn btn-primary share-btn <% if (!redirect) { %> disabled <% } %>">
                    <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                        <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
                    </svg>Share on Facebook
                </a>


            </div>
        </div>


    </div>
    <!-- /container -->
    <footer class="pt-5 pb-5">
        <div class="container">

            <div class="row footer-menu">
                <div class="col-6 col-md">
                    <a href="https://request.network">
                        <img class="footer-logo" src="img/request-logo-white.png" />
                    </a>
                </div>
                <div class="footer-menu-item">
                    <h5>Request Network</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="https://request.network/#/">Website</a>
                        </li>
                        <li>
                            <a class="text-muted" href="https://request.network/assets/pdf/request_whitepaper.pdf">Whitepaper</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu-item">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="https://blog.request.network/">Blog</a>
                        </li>
                        <li>
                            <a class="text-muted" href="https://github.com/RequestNetwork/requestNetwork">GitHub</a>
                        </li>
                        <li>
                            <a class="text-muted" href="https://docs.request.network/">Docs</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu-item">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="https://www.reddit.com/r/RequestNetwork/">Reddit</a>
                        </li>
                        <li>
                            <a class="text-muted" href="https://twitter.com/RequestNetwork">Twitter</a>
                        </li>
                        <li>
                            <a class="text-muted" href="https://docs.request.network/join-request/job-offers">Careers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-footer clearfix mt-5 pt-5">
                <p class="float-left">&copy; Request Network. All Rights Reserved.</p>
                <div class="social-icons float-right">

                    <a href="https://www.facebook.com/TheRequestNetwork/">
                        <img src="img/facebook.svg" />
                    </a>
                    <a href="https://twitter.com/requestnetwork">
                        <img src="img/twitter.svg" />
                    </a>
                    <a href="https://www.reddit.com/r/RequestNetwork/">
                        <img src="img/reddit.svg" />
                    </a>
                    <a href="https://www.linkedin.com/company/request-network/">
                        <img src="img/linkedin.svg" />
                    </a>

                </div>

            </div>
        </div>


        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

    <script>       

        <% if (redirect) { %>

            var rootUrlForSharing = hostnameFromURL('<%= redirect %>');
            var shareText = 'I just made a difference by donating $<%= fiat %> in <%= currency %> using the #RequestNetwork. Help me amplify my impact by giving to ' + rootUrlForSharing + ' #thanks #ETH #cryptocurrency';

            //We need to strip out the redirect URL for social as it messes up the links
            var strippedUrlForSharing = removeURLParameter(window.location.href, 'redirect');

            document.getElementById('twitter-share').addEventListener('click', function () {
                var url = window.location.href;
                window.open('http://twitter.com/share?url=' + encodeURIComponent(strippedUrlForSharing) + '&text=' + encodeURIComponent(shareText), '', 'left=50,top=50,width=700,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
            });

            document.getElementById('facebook-share').addEventListener('click', function () {
                var url = "https://window.location.href";
                var text = shareText;
                window.open('http://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(strippedUrlForSharing), '', 'left=50,top=50,width=700,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
            });

        <% } %>

        var web3 = new Web3(new Web3.providers.HttpProvider("<%= infura_base %>/a84k2Xp83SohNwwQCTd6"));
        var txid = "<%= txid %>";

        var checkTxidInterval = setInterval(hasBeenMined, 2000);

        function hostnameFromURL(url) {
            var a = document.createElement('a');
            a.href = url;
            return a.protocol + '//' + a.hostname + '/';
        }

        function removeURLParameter(url, parameter) {
            //prefer to use l.search if you have a location/link object
            var urlparts = url.split('?');
            if (urlparts.length >= 2) {

                var prefix = encodeURIComponent(parameter) + '=';
                var pars = urlparts[1].split(/[&;]/g);

                //reverse iteration as may be destructive
                for (var i = pars.length; i-- > 0;) {
                    //idiom for string.startsWith
                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                        pars.splice(i, 1);
                    }
                }

                url = urlparts[0] + '?' + pars.join('&');
                return url;
            } else {
                return url;
            }
        }

        function hasBeenMined() {
            var transaction = web3.eth.getTransaction(txid);

            if (transaction && transaction.blockHash) {
                document.getElementById('txid-status').classList.remove('pending');
                clearInterval(checkTxidInterval);
            }
        }

        hasBeenMined();

    </script>
</body>

</html>